<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
    <nav class="nav-container">
      <div class="logo">
        <i class="fa-solid fa-book"></i>
        <span>LMS</span>
      </div>
      <div class="nav-links">
        <div>
          <a href="/"  class="nav-link">Home</a>
        </div>
        <div>
          <a href="/About" class="nav-link">About</a>
        </div>
        <div>
          <a href="/Contact" class="nav-link">Contact</a>
        </div>
        <div>
          <a href="" class="nav-link">Theme</a>
        </div>
        <div>
          <a href="/signup" class="nav-link">SignUp</a>
        </div>
        <div>
          <a href="/login" class="nav-link">login</a>
        </div>
        <div>
          <button class="mobile-menu-button">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1>Contact Page</h1>
  </main>
</body>
</html>