<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header>
    <nav class="nav-container">
      <div class="logo">
        <i class="fa-solid fa-book"></i>
        <span>LMS</span>
      </div>
      <div class="nav-links">
        <div>
            <button><a href="/logout">Logout</a></button>
        </div>
        <div>
         
      </div>
    </nav>
    <div class="side-nav">
      <div class="side-nav-container">
      <div class="option">Overview</div>
      <% if(role=="Member"){%>

      <div class="option">Catalog</div>
      <div class="option">My Borrowing</div>
      <div class="option">My Finance</div>
      
<%  }%>
<% if(role=='Staff') {%>
       <div class="option">Catalog and Circulation</div> 
       <div class="option">Users</div>
       <div class="option">Borrowing activity</div>
       <div class="option">Finance</div>

  <% } %>
<% if (role=='Admin'){%>
      <div class="option">Book managment</div> 
       <div class="option">Borrowing Activity</div>
       <div class="option">Finance</div>
       <div class="option">Member Managment</div>
       <div class="option">Staff and Admin Managment</div>
       <div class="option">Reports</div>

<%} %>
        <div class="option">Profile</div>
      </div>
    </div>
  </header>
  <main>
  <h1>
    Hello,<%=locals.firstName  %>(<%= locals.role %>)
  </h1>
  </main>
</body>
</html>