<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header>
    <nav class="nav-container">
      <div class="logo">
        <i class="fa-solid fa-book"></i>
        <span>LMS</span>
      </div>
      <div class="nav-links">
        <div>
            <button><a href="/logout">Logout</a></button>
        </div>
        <div>
         
      </div>
    </nav>
    <div class="side-nav">
      <div class="side-nav-container">
      <div class="option">Overview</div>
      <div class="option">Catalog</div>
      <div class="option">My Borrowing</div>
      <div class="option">My Finance</div>
      <div class="option">Peofile</div>
      </div>
    </div>
  </header>
  <main>
  <h1>
    Hello,<%=firstName %>
  </h1>
  </main>
</body>
</html>