:root{
  --primary-light:#2c7da0;
  --dark:#2c3e50;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.nav-container{
  background-color: aliceblue;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgb(0, 0, 0.05);
  padding: 1rem 2rem;
}
.nav-links{
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap:2rem;

}
.logo{
color:var(--primary-light);
display:flex;
justify-content: center;
align-items: center;
}
.logo i{
  font-size:2rem;
  font-weight: 600;
}
.logo span{
  font-size: 1.5rem;
  font-weight: 800;
  gap:0.5rem;
}
.nav-link{
  text-decoration: none;
  color:var(--dark);
  font-weight: 400;
  transition: all 0.2s ease;
  font-size: 1.2rem;
}
.nav-link:hover{
  color:var(--primary-light);
}
.mobile-menu-button{
  display:none;
}

.error-block{
background-color: rgb(255, 62, 62);
color: rgb(255, 204, 204);
width:50%;
border-radius: 5px;
text-align: center;
}
.input-error{
  border-color: rgb(107, 9, 9);

}